body {
  background-image: url('../images/background.png');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tabs .tab a {
  color: #43a047;
}

.tabs .tab a:hover {
  color: #00c853;
}

.tabs .indicator {
  background-color: #43a047;
}

.footer-link {
  color: #eeeeee;
}

@font-face {
  font-family: 'Kurale';
  src: url('font/Kurale-Regular.ttf');
}

a.brand-logo {
  font-family: 'Kurale';
  padding-left: 25px;
}


/* HOME */
#container {
  width:80%;
}

.parallax-container {
  height: 350px;
  min-height: 350px;
}

.bxslider {
}
