.p0{padding:0px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}
.pr0{padding-right:0px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pb0{padding-bottom:0px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pl0{padding-left:0px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pt0{padding-top:0px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.m0{margin:0px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m25{margin:25px;}
.mr0{margin-right:0px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.mt0{margin-top:0px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.h0{height:0px;}
.h5{height:5px;}
.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h25{height:25px;}
.w0{width:0px;}
.w5{width:5px;}
.w10{width:10px;}
.w15{width:15px;}
.w20{width:20px;}
.w25{width:25px;}



table > tbody >  tr > th {
  font-color:#333;
  font-weight: 400;
}


table.p5px > tbody >  tr > td {
  padding:5px;
}

table.p0px > tbody >  tr > td {
  padding:0px;
}

table.p10px > tbody >  tr > td {
  padding:10px;
}

table.p20px > tbody >  tr > td {
  padding:20px;
}

table.p5px > tbody >  tr > th {
  padding:5px;
}

table.p0px > tbody >  tr > th {
  padding:0px;
}

table.p10px > tbody >  tr > th {
  padding:10px;
}

table.p20px > tbody >  tr > th {
  padding:20px;
}



.table-block-hover  > tbody > tr > td{
	cursor:pointer;
}

.table-block-hover  > tbody > tr > td:hover {
	background-color: #e8e8e8;
}

.clear{
	clear:both;
}


a{
	cursor: pointer;
}

a.default{
	text-decoration: none;
}

.tb{
  border:solid red 1px;
}



.pointer{
  cursor: pointer;
}