.PopupWrapper {
  position: fixed; 
  background: rgba(0,0,0,0.8); 
  color: #fff; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  display:none;
  z-index:1000;
}

.Popup{
  width: 60%;
  background: #fff;
  color: #000;
  left: 20%;
  border-radius: 4px;
  position: absolute;
  top:10%;
}

.closePopup {
  cursor: pointer; 
  font-size: 16px; 
  background: rgba(0,0,0,0.5);
  color: #fff; 
  width: 26px; 
  height:26px;
  margin:2px;
  display: table; text-align: center; border-radius: 13px; font-weight: bold; position: absolute; right: 0px; top: 0px;
}

.titlePopup{
  margin:15px;
  margin-top:25px;
  font-size:23px;
}



.table-block-hover  > tbody > tr > td{
  cursor:pointer;
}

.table-block-hover  > tbody > tr > td:hover {
  background-color: #e8e8e8;
}



.reduseheight{
  margin-top:-28px;
  margin-bottom: -28px;
}


.icon-hover{
 margin:0px;
 height:47px;
 width:38px;
 cursor: pointer;
}

.icon-hover:hover{
 margin:-2px;
 height:51px;
 width:42px;
 -webkit-transition-duration: 0.1s;
 transition-duration: 0.1s;
}

.success-msg{
  background-color:#cccccc;
  border-radius:5px;
  padding:10px;
  margin:5px;
  padding-right:32px;
  position: relative;
}

.closeSuccess{
}

.closeSuccess:hover{
  background: rgba(0,0,0,0.3);
/*  color: #cccccc;
*/
}

.edit {
  cursor: pointer;
  color:blue;
}

.edit:hover {
  text-decoration: underline;
}

#nav-mobile i.tiny{
  font-size: 1rem;
  display: inline;
}

#nav-mobile a.phoneno{
  margin-top: -2px;
}
/*
  search_old.php
*/

div#sideBar {
}

div#mainContent {
  min-height: 700px;
}

.clear {
  clear:both; 
}

div#sticker_panel {
  background-color:#ffffff;
  overflow-y: auto;
}

/*
.stick {
  position:fixed;
}
*/

ul.collapsible {
  box-shadow: none;
}

/*
  Search section
*/
html{
  font-size: 15px;
}

.whitebg{
  background-color: #FFFFFF;
}

.searchwrapper{
  margin-top: 50px;
}

.teacherlistelm{
  font-family: arial,tahoma,verdana,sans-serif;
  box-shadow: none;
  margin-top: 20px;
}

.teacherlistelm .card-content{
  font-size: .8rem;
  padding: 5px 5 10px;
}

.teacherlistelm .card-content .card-title{
  text-transform: capitalize;
  font-size: .9rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  color: black;
  line-height: 2rem;
}

.teacherlistelm i.right{
  margin-left: 5px;
  cursor: pointer;
}

.btn-small{
  height: 24px;
  line-height: 5px;
  font-size: 12px;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 8px 6px;
}

.teacherlistelm:hover{
  /* Horizontal Vertical Blur Spread */
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12); */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

#sticker_panel h3{
  margin-bottom: 30px;
}

#sticker_panel #searchform{
  padding: 0px 15px;
}

.nav-wrapper a:hover{
  text-decoration: none;
  color: white;
}

.teacherlistelm .card-reveal{
  font-size: .8rem;
}

.teacherlistelm .card-reveal p{
  margin-bottom: 0;
  color: black;
}

.teacherlistelm .card-reveal .card-title a{
  text-transform: capitalize;
  font-size: .9rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  color: black;
  line-height: 2rem;
}

.teacherlistelm p a.tooltipped{
  color: #777;
}

.teacherlistelm .card-content p.lastp{
  margin-top: 1rem;
}

/*
  Rating System
*/

.rating-system span.glyphicon{
  cursor: pointer;
}

.rating-value p{
  font-size: 2.5rem;
  font-family: Roboto;
}

.rating-value span{
  font-size: 1rem;
  font-family: Roboto;
}

.rated-star{
  color: #E89914;
}

.rating-star{
  color: #FFC925;
}

/*
Profile Page
*/
#biodisp span.glyphicon{
  cursor: pointer;
}