.PopupWrapper {
  position: fixed; 
  background: rgba(0,0,0,0.8); 
  color: #fff; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  display:none;
  z-index:1000;
}

.Popup{
  width: 60%;
  background: #fff;
  color: #000;
  left: 20%;
  border-radius: 4px;
  position: absolute;
  top:10%;
}

.closePopup {
  cursor: pointer; 
  font-size: 16px; 
  background: rgba(0,0,0,0.5);
  color: #fff; 
  width: 26px; 
  height:26px;
  margin:2px;
  display: table; text-align: center; border-radius: 13px; font-weight: bold; position: absolute; right: 0px; top: 0px;
}

.titlePopup{
  margin:15px;
  margin-top:25px;
  font-size:23px;
}



.table-block-hover  > tbody > tr > td{
  cursor:pointer;
}

.table-block-hover  > tbody > tr > td:hover {
  background-color: #e8e8e8;
}



.reduseheight{
  margin-top:-28px;
  margin-bottom: -28px;
}


.icon-hover{
 margin:0px;
 height:47px;
 width:38px;
 cursor: pointer;
}

.icon-hover:hover{
 margin:-2px;
 height:51px;
 width:42px;
 -webkit-transition-duration: 0.1s;
 transition-duration: 0.1s;
}

.success-msg{
  background-color:#cccccc;
  border-radius:5px;
  padding:10px;
  margin:5px;
  padding-right:32px;
  position: relative;
}

.closeSuccess{
}

.closeSuccess:hover{
  background: rgba(0,0,0,0.3);
/*  color: #cccccc;
*/
}

.edit {
  cursor: pointer;
  color:blue;
}

.edit:hover {
  text-decoration: underline;
}
