includes/setting.php
data/files/*
data/mailf
data/msgf
msv
.msv*
serverkey.pem
system/
system/core/Common.php
application/config/config.php
application/config/database.php
FirePHPCore/*
index.php
test.php